
<section class="columns is-centered" >
  <div class="column is-6 has-text-centered">
    <div *ngIf="multiplicationFormNumberIsValid; else elseBlock">
      <h3 class="has-text-centered is-size-4 has-text-weight-bold">Table of {{ multiplicationFormNumberValue }}</h3>
      <ul class="has-text-centered">
        <li *ngFor="let multi of tables">{{ multi }}</li>
      </ul>
    </div>

    <ng-template #elseBlock>
      <div class="pb-5">
        <p class="bd-notification is-primary">
          <strong class="is-size-5">A multiplication table</strong> displays in the rows and columns the result of the multiplication of small natural whole numbers. The term used from the Middle Ages to the 16th century was "booklet".
          <br><br>
          The decimal position numbering system makes it possible to multiply any two numbers using only the knowledge of the products of the numbers 0 to 9 between them. It is in elementary school that the learning of the tables which summarize all these products is carried out. The tradition has long required the knowledge of multiplication tables with up to 12 or 13 instead of 9.
          <br><br>
          Source : <a href="https://fr.wikipedia.org/wiki/Table_de_multiplication" target="_blank">https://fr.wikipedia.org/wiki/Table_de_multiplication</a>.
        </p>
      </div>
    </ng-template>
  </div>
</section>

<section class="pt-3 is-light" *ngIf="multiplicationFormNumberIsValid">
  <hr>
    <h3 class="pt-5 has-text-centered subtitle">Choose between (10 and 100)</h3>
    <form [formGroup]="multiplicationsForm">
      <div class="field has-text-centered">
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input [ngClass]="{'input': true, 'is-light': multiplicationsFormNumberIsEmpty, 'is-success': multiplicationsFormNumberChanged && multiplicationsFormNumberIsValid, 'is-danger': !multiplicationsFormNumberIsEmpty && multiplicationsFormNumberChanged && !multiplicationsFormNumberIsValid }" style="width: 15%;" type="number" formControlName="number" min="10" max="100" autofocus>
            </p>
          </div>
        </div>
      </div>
    </form>
  <app-multiplication-tables [multiplicationsFormNumberValue]="multiplicationsFormNumberValue"></app-multiplication-tables>
</section>


