<header class="pt-5 has-text-centered">
   <img src="./assets/images/gif.gif" width="85" alt="GIF">
</header>

<main class="pt-5 container">
  <section class="columns is-centered">
    <div class="column is-6">
      <h1 class="title has-text-centered">
        <a href="./"><img src="./assets/images/logo.webp" alt="Logo" width="30" height="30"></a>
        Multiplication table generator
      </h1>

      <h3 class="mt-3 has-text-centered subtitle">Choose between (1 and 100)</h3>
      <form [formGroup]="multiplicationForm">
        <div class="field has-text-centered">
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <input [ngClass]="{'input': true, 'is-light': multiplicationFormNumberIsEmpty, 'is-success': multiplicationFormNumberChanged && multiplicationFormNumberIsValid, 'is-danger': !multiplicationFormNumberIsEmpty && multiplicationFormNumberChanged && !multiplicationFormNumberIsValid}" style="width: 20%;" type="number" value="33" formControlName="number" min="1" max="10" autofocus>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <app-multiplication-table [multiplicationFormNumberIsValid]="multiplicationFormNumberIsValid"  [multiplicationFormNumberValue]="multiplicationFormNumberValue"></app-multiplication-table>
</main>

<footer class="has-text-centered pb-5">
  <strong>Coded with <span class="is-size-1" style="color: hsl(48, 100%, 67%);">&hearts;</span> by <a href="https://meidly.com/profile/dalil01" target="_blank">Dalil</a> !</strong>
</footer>
