<div class="container has-text-centered">
  <h1 class="pt-5  has-text-weight-bold is-size-3"><span style="color: #4CAF50;">{{ multiplicationsFormNumberValue }}</span> Multiplication tables</h1>

  <article class="mt-5 pt-4 pb-5 is-multiline columns">
    <div class="column is-2 mb-5" *ngFor="let multi of tables">
      <p class="has-text-weight-bold">{{ multi.name }}</p>
      <p *ngFor="let m of multi.calc">{{ m }}</p>
    </div>
  </article>
</div>

